#excellence {
    overflow: hidden;
    padding-top: 15rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    position: relative;
    // dot
    .dotOne {
        position: absolute;
        top: 36%;
        left: 7%;
    }
    .dotTwo {
        position: absolute;
        top: 36%;
        left: 28%;
    }
    .dotThree {
        position: absolute;
        top: 36%;
        left: 43%;
    }
    .sub_title {
        margin-left: 2.3rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.09em;
        position: relative;
        color: #131313;
        // before
        &::before {
            content: "";
            position: absolute;
            width: 21px;
            height: 2px;
            background-color: #e2dbdb;
            top: 45%;
            left: -9%;
        }
    }
    .number {
        position: absolute;
        font-size: 444px;
        color: #f5f5f5;
        font-weight: 700;
        top: -20%;
        right: 23%;
        z-index: -1;
        letter-spacing: 2px;
    }
    .main_title {
        width: 250px;
        font-weight: bold;
        color: #131313;
        font-size: 1.85714rem;
        line-height: 1.23077em;
    }
    .image_wrapper {
        text-align: center;
    }
    // hover text
    .hover_text {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.8rem;
        opacity: 0;
        transition: 0.4s;
        // hover
    }
    .image_wrapper:hover .hover_text {
        opacity: 1;
    }
}

// start responsive part
@media (max-width: 1500px) {
    #excellence .number {
        right: 7%;
    }
    #excellence .sub_title::before {
        left: -15%;
    }
}

@media (max-width: 1200px) {
    #excellence .number {
        right: 6%;
    }
    #excellence .sub_title::before {
        left: -15%;
    }
}

@media (max-width: 1199px) {
    #excellence .number {
        right: -2%;
        top: -23%;
    }
    #excellence .hover_text {
        display: none;
    }
}

@media (max-width: 991px) {
    #excellence {
        overflow: hidden;
        padding-top: 4rem;
        padding-left: 0;
    }
    #excellence .number {
        top: -25%;
        font-size: 21rem;
    }
    #excellence .dotOne,
    #excellence .dotTwo,
    #excellence .dotThree {
        display: none;
    }
    #excellence .sub_title::before {
        left: -31%;
    }
}

@media (max-width: 767px) {
    #excellence {
        text-align: center;
    }
    #excellence .main_title {
        width: 100%;
    }
    #excellence .number {
        top: -15%;
    }
    #excellence .right {
        padding-bottom: 3.5rem;
    }
    #excellence .sub_title::before {
        left: 27%;
    }
}

@media (max-width: 575px) {
    #excellence .number {
        top: -14%;
    }
    #excellence .number {
        right: 0%;
    }
}

@media (max-width: 450px) {
    #excellence .sub_title::before {
        left: 20%;
    }
}

// end of responsive part