// default swiper customize part
.swiper-container {
    width: 100%;
}

// .swiper-pagination {
//     bottom: 0;
//     padding-bottom: 10px;
// }
// .swiper-wrapper {
//     padding-inline-start: 0;
// }
.swiper-button-prev {
    display: none;
}

.swiper-button-next {
    right: 2.5%;
    //left: auto;
    color: #fff;
    top: 72.9%;
    background-color: #c10206;
    width: 3.24286rem;
    height: 10.88rem !important;
    z-index: 99999;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    // hover
    &:hover {}
}

.swiper-button-next::after {
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 99999999999999999999 !important;
}

// ########## animation ##########
// ##########  end of animation ##########
#main {
    // padding-left: 7%;
    position: relative;
    z-index: 1;
    // padding-top: 1.4rem;
    // content
    .content_wrapper {
        overflow: hidden;
        // img
        .item_img {
            width: 95.3%;
            cursor: pointer;
            overflow: hidden;
            img {
                width: 100%;
                height: calc(100vh - 10rem);
                object-fit: cover;
                object-position: 20% 20%;
                overflow: hidden;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
            // after
            &::after {
                // z-index: 1;
                z-index: 1;
                width: 95.3%;
                height: 100%;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient( 45deg, #000, rgba(0, 0, 0, 0.3) 30%, transparent);
            }
            // hover
            &:hover img {
                scale: 1.1;
            }
        }
        // content
        .item {
            z-index: 10;
            position: absolute;
            bottom: 9%;
            left: 0;
            width: 30rem;
            margin-left: 4%;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            h5 {
                margin-left: 9%;
                position: relative;
                text-transform: uppercase;
                font-size: 0.92857rem;
                letter-spacing: 0.13286rem;
                color: #fff;
                font-weight: 400;
                line-height: 1.42857em;
                // after
                &::before {
                    content: "";
                    position: absolute;
                    width: 21px;
                    height: 2px;
                    background-color: #fff;
                    top: 35%;
                    left: -10%;
                }
            }
            // main title
            .main_title {
                margin-bottom: 0;
                color: #fff;
                font-size: 1.85714rem;
                line-height: 1.23077em;
                letter-spacing: normal;
                font-weight: bold;
            }
            // sub title
            .sub_title {
                color: #fff;
                font-weight: 300;
                font-size: 1.57143rem;
                line-height: 1.22727em;
                letter-spacing: normal;
            }
            // bottom title
            .bottom_label {
                cursor: pointer;
                text-transform: capitalize;
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                position: relative;
                color: #fff;
                letter-spacing: 0px;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                margin-left: 0.2rem;
                //before
                &::before {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 2px;
                    background-color: #fff;
                    top: 55%;
                    left: 15%;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                }
                &:hover::before {
                    width: 60px;
                    right: -105%;
                }
                &:hover {
                    letter-spacing: 0.5px;
                }
            }
        }
        // hover
        &:hover .item {
            margin-left: 7%;
        }
    }
    // animation box
    .animation_box {
        background-color: #000;
        color: #fff;
        position: absolute;
        right: -1%;
        bottom: -11.7%;
        height: calc(9.09722vw + 12rem);
        width: 50vw;
        display: flex;
    }
    // left part
    .content {
        position: inherit;
        top: 85%;
        left: 0;
        width: 100%;
        padding: 0 3.5rem;
        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .number {
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 20px;
        }
        .middle_animate {
            padding: 0 4rem;
        }
        .label {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.42857em;
        }
        .status a {
            transition: letter-spacing 0.3s ease;
            -webkit-transition: letter-spacing 0.3s ease;
            -moz-transition: letter-spacing 0.3s ease;
            -ms-transition: letter-spacing 0.3s ease;
            -o-transition: letter-spacing 0.3s ease;
        }
        .status img {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transition: transform 0.3s;
            -webkit-transition: transform 0.3s;
            -moz-transition: transform 0.3s;
            -ms-transition: transform 0.3s;
            -o-transition: transform 0.3s;
        }
        .status:hover img {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }
        .status:hover a {
            letter-spacing: 0.5px;
        }
    }
    .number1 {
        position: absolute;
        top: 9%;
        left: 2%;
    }
    .number2 {
        position: absolute;
        top: 9%;
        left: 19.5%;
    }
    // infinity animation
    .loader {
        width: 6.71429rem;
        background-color: #4a4a4a;
        // margin: 0 auto;
        border-radius: 10px;
        position: relative;
        padding: 1px;
        overflow: hidden;
    }
    .loader:before {
        content: "";
        border-radius: 10px;
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
    }
    .loader .loaderBar {
        position: absolute;
        border-radius: 10px;
        top: 0;
        right: 100%;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 0;
        animation: borealisBar 4.1s linear infinite;
        -webkit-animation: borealisBar 4.1s linear infinite;
    }
    @keyframes borealisBar {
        0% {
            left: 0%;
            right: 100%;
            width: 0%;
        }
        10% {
            left: 0%;
            right: 75%;
            width: 100%;
        }
        90% {
            right: 0%;
            left: 75%;
            width: 100%;
        }
        100% {
            left: 100%;
            right: 0%;
            width: 0%;
        }
    }
}

// ########### slide 2  ###########
.controller {
    color: #000;
    width: 267px;
    height: 18.8vh;
    margin-right: 4.45%;
    .slide_swiper2 {
        .content_wrapper2 {
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            .item_img2 {
                .single_img2 {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                    -moz-transition: 0.4s;
                    -ms-transition: 0.4s;
                    -o-transition: 0.4s;
                }
                // hover
                &:hover img {
                    scale: 1.1;
                }
            }
            .main_title {
                position: absolute;
                top: 5%;
                left: 5%;
                z-index: 9;
                span {
                    color: white;
                }
                .display_title {
                    color: #fff;
                    font-size: 1.14286rem;
                    font-weight: 400;
                }
            }
            // after
            &::after {
                z-index: 1;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient( 45deg, #000, rgba(0, 0, 0, 0.3) 30%, transparent);
            }
        }
    }
}

// index number box
.index_number_box {
    position: absolute;
    top: 8%;
    right: 2%;
    width: 60px;
    height: 60px;
    background-color: #c10206;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.11rem;
}

// ##### Responsive #####
@media (max-width: 1800px) {
    #main .number2 {
        left: 24%;
    }
}

@media (max-width: 1500px) {
    // #banner {
    //     overflow: hidden;
    // }
    // right | slider
    #main .content_wrapper .item_img {
        width: 93.5%;
    }
    #main .content_wrapper .item_img::after {
        width: 93.5%;
    }
    .index_number_box {
        right: 3% !important;
    }
    .controller .slide_swiper2 .content_wrapper2 .item_img2 .single_img2 {
        width: 100%;
        height: 100%;
    }
    .controller .slide_swiper2 .content_wrapper2::after {
        width: 100%;
        height: 101%;
    }
    .controller {
        margin-top: -5%;
        margin-right: 6.3%;
        width: 267px;
        height: 25vh;
    }
    #main .animation_box {
        right: -1.2%;
        bottom: -20%;
    }
    #main .content {
        top: 82.54%;
    }
    #main .status {
        margin-right: 1.5rem;
    }
    .swiper-button-next {
        right: 2.5%;
        color: #fff;
        top: 65.2%;
        width: 3.24286rem !important;
        height: 9.6rem !important;
    }
}

@media (max-width: 1499px) {
    #main .number2 {
        left: 28%;
    }
}

@media (max-width: 1300px) {
    #main .number2 {
        left: 31%;
    }
}

@media (max-width: 1200px) {
    // right | slider
    #main .content_wrapper .item_img {
        width: 93%;
    }
    #main .content_wrapper .item_img::after {
        width: 93%;
    }
    .index_number_box {
        right: 3% !important;
    }
    .controller .slide_swiper2 .content_wrapper2 .item_img2 .single_img2 {
        width: 92%;
        height: 92%;
    }
    .controller .slide_swiper2 .content_wrapper2::after {
        width: 92%;
        height: 101%;
        // left content
    }
    .swiper-button-next {
        height: 10.6rem !important;
    }
    #main .animation_box {
        right: -1.55%;
    }
    #main .number2 {
        left: 32.5%;
    }
    #main .animation_box {
        bottom: -7.6%;
    }
    #main .content {
        top: 87%;
    }
}

@media (max-width: 1199px) {
    #main .content_wrapper .item_img {
        width: 100%;
    }
    .index_number_box {
        left: 0;
    }
    .controller {
        display: none;
    }
    #main .content_wrapper .item {
        width: 14rem;
    }
    #main .content_wrapper .item h5 {
        margin-left: 24%;
    }
    #main .top_label {
        margin-left: 1rem;
    }
    #main .content_wrapper .item h5::before {
        left: -20%;
    }
    #main .content_wrapper .item .bottom_label::before {
        left: 7%;
    }
    #main .content_wrapper .item_img::after {
        width: 100%;
    }
    #main .animation_box {
        width: 100%;
        right: 0;
    }
    #main .number2 {
        left: 18.5%;
    }
    .swiper-button-next {
        right: 0;
        top: 80.2%;
    }
}

@media (max-width: 991px) {
    #main .number2 {
        left: 24.5%;
    }
}

@media (max-width: 767px) {
    #main .number2 {
        left: 32.5%;
    }
}

@media (max-width: 575px) {
    #main .number2 {
        left: 39.5%;
    }
}

@media (max-width: 479px) {
    #main .content {
        padding: 0;
    }
    #main .loader {
        width: 5.714rem;
        margin-left: 2.1rem;
    }
}

// ##### end of Responsive #####